{% extends 'account/base.html' %}
{% load static %}
{% block title %}
Third-Party Login Failure
{% endblock title %}

{% block body %}

    <div class="row">
        <div class="col-xl-5 d-none d-xl-block p-0 vh-100 bg-image-cover bg-no-repeat" style="background-image: url({% static 'images/login-bg-2.jpg' %});"></div>
        <div class="col-xl-7 vh-100 align-items-center d-flex bg-white rounded-3 overflow-hidden">
            <div class="card shadow-none border-0 ms-auto me-auto login-card">
                <div class="card-body rounded-0 text-left">
                    <h2 class="fw-700 display1-size display2-md-size mb-4">Third-Party Login Failure</h2>                        
                    An error occurred while attempting to login via your third-party account.
                </div>
            </div> 
        </div>
    </div>

{% endblock body %}