{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load i18n %}

{% block title %}
Sociala/Cart Summary
{% endblock title %}
{% block body %}

    <div class="container bg-white" style='margin-top:60px'>
        <div class="row">
            <div class="col-xl-12 cart-wrapper">
                <div class="row mb-4">
                    <div class="col-lg-12">
                        <div class="card p-md-5 p-4 bg-primary-gradiant rounded-3 shadow-xss bg-pattern border-0 overflow-hidden">
                            <div class="bg-pattern-div"></div>
                            <h2 class="display2-size display2-md-size fw-700 text-white mb-0 mt-5">Cart <span class="fw-700 ls-3 text-grey-200 font-xsssss mt-2 d-block">{{ CartCount }} ITEM FOUND</span></h2>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-8 mb-3">
                        <div class="table-content table-responsive">
                            <table class="table text-center">
                                <thead class="bg-greyblue rounded-3">
                                    <tr>
                                        <th class="border-0 p-4">&nbsp;</th>
                                        <th class="border-0 p-4 text-left">{% trans 'Product' %}</th>
                                        <th class="border-0 p-4">{% trans 'Color' %}</th>
                                        <th class="border-0 p-4">{% trans 'Size' %}</th>
                                        <th class="border-0 p-4">{% trans 'Price' %}</th>
                                        <th class="border-0 p-4">{% trans 'Quantity' %}</th>
                                        <th class="border-0 p-4">{% trans 'Total' %}</th>
                                        <th class="border-0 p-4">&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in cartitems %}
                                    <tr>
                                        <td class="product-thumbnail text-left ps-0">
                                            <img src="{{ i.product.img.url }}" alt="Product Thumnail" class="w75 rounded-3">
                                        </td>
                                        <td class="product-headline text-left wide-column">
                                            <h3>
                                                <a href="{{ i.product.get_absolute_url }}" class="text-grey-900 fw-600 font-xsss">{{ i.product.name }}</a>
                                            </h3>
                                        </td>
                                        <td class="product-headline text-left wide-column">
                                            {% if i.color %}
                                                <h3>
                                                    <a href="{% url 'color_slug' i.color.value %}" class="btn-round-sm" style="background-color: {{i.color.value}}"></a>
                                                </h3>
                                            {% endif %}
                                        </td>
                                        <td class="product-headline text-left wide-column">
                                            {% if i.size %}
                                                <h3>
                                                    <a href="/shop/?size_={{i.size.value}}" class="text-grey-900 fw-600 font-xsss">{{ i.size.value }}</a>
                                                </h3>
                                            {% endif %}
                                        </td>

                                        <td class="product-p">
                                            <span class="product-price-wrapper">
                                                <span class="money text-grey-500 fw-600 font-xsss"><span class="font-xsssss">$</span>{{ i.get_price|intcomma }}</span>
                                            </span>
                                        </td>
                                        <td class="product-quantity">
                                            <form method="POST" class="quantity-form" action='{% url "c-b" i.product.category.slug i.product.slug i.product.pk %}'>
                                                <div class="quantity">
                                                    {% csrf_token %}
                                                    <input readonly type='number' class="quantity-input open-font fw-600" value="{{ i.quantity }}">
                                                    <div class="dec qtybutton">
                                                        <a style='color:black' href="{% url 'minus-from-cart' i.pk %}" class="minus-item" data-cartitem-id="{{ i.pk }}">-</a>
                                                    </div>
                                                    {% if i.color %}
                                                    <input type="hidden" name="color" value="{{i.color.id}}">
                                                    {% endif %}                                                    

                                                    {% if i.size %}
                                                    <input type="hidden" name="size" value="{{i.size.id}}">
                                                    {% endif %}
                                                    
                                                    <div class="inc qtybutton">
                                                        <input type="submit" name='action' value='+' class="btn">
                                                    </div>
                                                </div>
                                            </form>
                                        </td>
                                        <td class="product-total-price">
                                            <span class="product-price-wrapper">
                                                <span class="money fmont"><strong><span class="font-xsssss">$ </span>{{ i.get_product_price|intcomma }}</strong></span>
                                            </span>
                                        </td>
                                        <td class="product-remove text-right">
                                            <a href="{% url 'remove-from-cart' i.pk %}" class="remove-item" data-cartitem-id="{{ i.pk }}">
                                                <i class="ti-trash font-xs text-grey-500"></i>
                                            </a>
                                        </td>
                                        {% empty %}
                                        <td colspan='5'>{% trans "You Don't Have Products Yet" %}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="checkout-payment card border-0 mb-3 bg-greyblue p-4">
                            <div class="cart_totals text-left bg-greyblue">
                                <div class="cart_totals_wrap w-100">
                                    <h4 class="mont-font fw-600 font-md mb-3">Cart totals</h4>
                                    <div class="table-content table-responsive">
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <td class="cart-subtotal">Subtotal</td>
                                                    <td class="text-right"><span class="subtotal-price">${{ total_price|intcomma }}</span></td>
                                                </tr>
                                                <tr>
                                                    {% if request.session.applied_coupon %}
                                                        <td class="cart-coupon">Coupon</td>
                                                        <td class="text-right">
                                                            {% if request.session.applied_coupon %}
                                                                <span class="coupon-amount">-${{ request.session.applied_coupon.amount }}</span>
                                                            {% else %}
                                                                <span class="coupon-amount">$0.00</span>
                                                            {% endif %}
                                                        </td>
                                                    {% endif %}
                                                </tr>
                                                <tr>
                                                    <td class="cart-total">Total</td>
                                                    <td class="text-right"><span class="cart-total-price">${% if request.session.total_price %}{{ request.session.total_price|intcomma}}{% else %}0{% endif %}</span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="coupon-wrap">
                                        <form id='couponForm' method="post" action="{% url 'apply-coupon' %}" class="d-flex mt-3 ">
                                            {% csrf_token %}
                                            {{ couponform.code }}
                                            
                                            {% if couponform.code.errors %}
                                                <ul>
                                                    {% for errs in couponform.code.errors %}
                                                        <li>{{ errs }}</li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                                
                                            <button class="btn bg-dark text-white">Apply</button>
                                        </form>
                                        <p class="" id="id_p"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="checkout-btn mt-2">
                            <p class="text-info" id="id_messages"></p>
                            <a href="{% url 'checkout' %}" id='proceedToCheckout' class="checkout-button btn bg-secondary text-white w-100 h-25">{% trans 'Proceed To Checkout' %}</a>
                        </div>
                    </div>
                </div>
            </div>               
        </div>
    </div>

    <script>
        let couponform = document.getElementById("couponForm");
        let proceedtocheckout = document.getElementById("proceedToCheckout");
        let id_messages = document.getElementById("id_messages");
        let tag_message = document.getElementById("id_p");
        let codefield = document.querySelector("[name='code']");
        let cart_count = {{CartCount}}

        proceedtocheckout.onclick = function (e) {
            if (cart_count === 0 ) {
                id_messages.innerHTML = "You Don't Have Orders";
                e.preventDefault();
            } 
        };

        couponform.onsubmit = function (e) {
            if (codefield.value === '') {
                tag_message.className = "text-danger";
                tag_message.innerHTML = 'This Field is Required';
                e.preventDefault();
            } if (cart_count === 0 ) {
                tag_message.className = "text-info";
                tag_message.innerHTML = "You Don't Have Products";
                e.preventDefault();

            }
        };
    </script>

{% endblock %}
