{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock title %}</title>

    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/feather.css' %}">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon.png' %}">
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
</head>

<body class="color-theme-blue">
    <style>
      #alert_div{
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 9999;
        min-width: 250px;
        opacity: 1;
        transition: opacity 0.5s; 
      }
    </style>
    
    <div class="preloader"></div>

    <div class="main-wrap">

        {% if messages %}
          {% for msg in messages %}
            {% if msg.level == 40 %}
              <div class="alert alert-danger" id='alert_div'>{{msg}}</div>
            {% else %}
              <div class="alert alert-{{msg.tags}}" id='alert_div'>{{msg}}</div>
            {% endif %}
          {% endfor %}
        {% endif %}

        {% block body %}

        {% endblock body %}
    </div>


    <script>
      const messageDiv = document.getElementById('alert_div');
      document.onmousemove = function (e) {
          setTimeout(() => {
              document.getElementById('alert_div').style.opacity = 0;
              setTimeout(() => messageDiv.remove(), 500);
          }, 2500);
      };
    </script>

    <script src="{% static 'js/plugin.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
    <script src="{% static 'js/validation_js.js' %}"></script>
</body>

</html>