services:
  # db:
  #   image: postgres:15-alpine
  #   container_name: postgres_db
  #   restart: always
    
  #   environment:
  #     POSTGRES_DB: SocialaStore         
  #     POSTGRES_USER: postgres             
  #     POSTGRES_PASSWORD: bodaboda 

  #   volumes:
  #     - postgres_data:/var/lib/postgresql/data
    
  #   ports:
  #     - "5432:5432"

  #   healthcheck:
  #     test: ["CMD-SHELL", "pg_isready -U postgres -d SocialaStore"]
  #     interval: 10s
  #     timeout: 5s
  #     retries: 5
  #     start_period: 10s

  #   networks:
  #     - app-network

  # redis:
  #   # Official Redis image (lightweight Alpine version)
  #   image: redis:7-alpine
    
  #   container_name: redis_cache
    
  #   # RECOMMENDED: Restart policy
  #   restart: always
    
  #   # OPTIONAL: Expose port for external access (Redis CLI, monitoring tools)
  #   # Comment out in production for security
  #   ports:
  #     - "6379:6379"
    
  #   # RECOMMENDED: Persist Redis data (if using Redis for more than cache)
  #   # If only using for Celery broker, you can skip volumes
  #   volumes:
  #     - redis_data:/data
    
  #   # OPTIONAL: Health check
  #   healthcheck:
  #     test: ["CMD", "redis-cli", "ping"]
  #     interval: 10s
  #     timeout: 5s
  #     retries: 5

  web:
    build: .
    container_name: django_web
    command: sh -c "python manage.py migrate && python manage.py collectstatic --noinput && gunicorn cozastore.wsgi:application --bind 0.0.0.0:8000 --workers 3 --timeout 120"
    volumes:
      - .:/app

    ports:
      - "8000:8000"

    env_file:
      - .env
      
    restart: unless-stopped


  celery_worker:
    build: .
    
    container_name: celery_worker
    
    command: celery -A cozastore worker -l INFO --pool=solo
    
    volumes:
      - .:/app
    
    env_file:
      - .env
    
    depends_on:
      web:
        condition: service_started
    
    restart: unless-stopped
    
  # celery_beat:
  #   build: .
    
  #   container_name: celery_beat
    
  #   command: celery -A your_project_name beat -l info
    
  #   volumes:
  #     - .:/app
    
  #   environment:
  #     DB_PORT: 5432
  #     DB_NAME: SocialaStore
  #     DB_USER: postgres
  #     DB_PASSWORD: bodaboda
  #     DB_HOST: db
      
  #     PAYPAL_CLIENT_ID: AR9POxdl0JGzEvF74YSyppVPRKwyGvSeBVTOfahQhg2qLA_GbQomMJoV3EuU7gZM02KoIK_1_l0bjvbV
  #     PAYPAL_CLIENT_SECRET: EGjxE3lwuDxPHqjnL3ch5NTASRHS5zrqNI9g8Pbpt2E8ZO-YP0hCTEylK2q91NubLWRlPbt-4t8k-noX
  #     PAYPAL_MODE: sandbox

  #     STRIPE_PUBLISHABLE_KEY: pk_test_51Q3xnYH4IAM7G10vw0mAzfEqkajCpWH5PuIrYJziEdvBURYUnHzQXitK8ntYVdqoGknPH0fw9p8cHoErROxU1eGu00xRPC5XiA
  #     STRIPE_SECRET_KEY: sk_test_51Q3xnYH4IAM7G10vjZxB1hYy3pSjbEypfl8OkJh7j6AbDCMw4fLXPiTp1t1A6Yh8CfGDK1gXZMudT4m0wcOqTET200aouCIE60

  #     REDIS_URL: redis://default:29JN2PR5g4c5REoZ3ft6EVK1WYpqZaUV@redis-12859.c270.us-east-1-3.ec2.redns.redis-cloud.com:12859
  #     CELERY_BROKER_URL: redis://default:29JN2PR5g4c5REoZ3ft6EVK1WYpqZaUV@redis-12859.c270.us-east-1-3.ec2.redns.redis-cloud.com:12859
  #     CELERY_RESULT_BACKEND: redis://default:29JN2PR5g4c5REoZ3ft6EVK1WYpqZaUV@redis-12859.c270.us-east-1-3.ec2.redns.redis-cloud.com:12859
  #     DJANGO_SETTINGS_MODULE: cozastore.settings
  #     SECRET_KEY: lzx0p^%!xrjsbk&e4=g^v&xeo@j%cskaiq**8u^7+1+8b1b0+l
  #     DEBUG: 'True'

  #   depends_on:
  #     - db
    
  #   restart: unless-stopped

volumes:
  postgres_data:   
