{% extends 'base.html' %}
{% load humanize %}
{% load i18n %}
{% load static %}
{% load custom_tags %}

{% block title %}
Sociala/{{ product }}
{% endblock title %}

{% block meta_head %}
  <meta property="og:site_name" content="Sociala">
  <meta property="og:title" content="{{ product.name }}">
  <meta property="og:description" content="{{ product.description|truncatewords:20 }}">
  <meta property="og:type" content="website">
  {% if product.img  %}<meta property="og:image" content=" {{ product.img.url }}"> {% endif %}
  <meta property="og:url" content="{{ request.build_absolute_uri }}">
{% endblock meta_head %}

{% block body %}

    <style>
        /****** Rating Starts *****/
        @import url(http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

        fieldset, label { margin: 0; padding: 0; }
        body{ margin: 20px; }
        h1 { font-size: 1.5em; margin: 10px; }

        .rating {
            border: none;
            float: left;
        }

        .rating > input { display: none; }
        .rating > label:before {
            margin: 5px;
            font-size: 1.25em;
            font-family: FontAwesome;
            display: inline-block;
            content: "\f005";
        }

        .rating > .half:before {
            content: "\f089";
            position: absolute;
        }

        .rating > label {
            color: #ddd;
        }

        .rating > input:checked ~ label,
        .rating:not(:checked) > label:hover,
        .rating:not(:checked) > label:hover ~ label { color: #FFD700;  }

        .rating > input:checked + label:hover,
        .rating > input:checked ~ label:hover,
        .rating > label:hover ~ input:checked ~ label,
        .rating > input:checked ~ label:hover ~ label { color: #FFED85;  }

        .rating > label{float:right}
    </style>

    <!-- main content -->
    <div class="container bg-white" style='margin-top:60px'>
        <div class="row">
            <div class="col-xl-12 mt-3 mb-5">
                <div class="row">
                    <div class="col-lg-5 offset-lg-1 mb-4">
                        <div class="product-slider-3 owl-carousel owl-theme dot-none owl-nav-link edge-link">
                            {% if product.gallary.all %}
                                {% for i in product.gallary.all %}
                                    <div class="owl-items pt-lg--10 pb-lg--10 bg-white rounded-3"><img data-thumb="<img src='{{ i.img.url }}' />" src="{{ i.img.url }}" alt="icon"></div>
                                {% endfor %}
                                <div class="owl-items pt-lg--10 pb-lg--10 bg-white rounded-3"><img data-thumb="<img src='{{ product.img.url }}' />" src="{{ product.img.url }}" alt="icon"></div>
                            {% else %}
                                <div class="owl-items pt-lg--10 pb-lg--10 bg-white rounded-3"><img data-thumb="<img src='{{ product.img.url }}' />" src="{{ product.img.url }}" alt="icon"></div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-lg-6  col-md-12 pad-top-lg-200 pad-bottom-lg-100 pad-top-100 pad-bottom-75 ps-md--5">
                        {% if product.stock == 0 %}
                        <h3 class="text-danger font-xssss fw-700 ls-2">Out Of Stock</h3>
                        {% else %}
                        <h3 class="text-primary font-xssss fw-700 ls-2">On Sale</h3>
                        {% endif %}

                        <h2 class="fw-700 text-grey-900 display1-size lh-3 porduct-title display2-md-size"> {{ product.name }}</h2>
                        <div class="star d-block w-100 text-left">
                            {% for i in product.products.all %}
                                {% for stars in '12345' %}
                                    {% if i.rating >= forloop.counter %}
                                        <img src="{% static 'images/star.png' %}" alt="star" class="w15">
                                    {% else %}
                                        <img src="{% static 'images/star-disable.png' %}" alt="star" class="w15">
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </div>
                        <p class="review-link font-xssss fw-500 text-grey-500 lh-3"> {{ product.products.all.count }} customer review</p>
                        <div class="clearfix"></div>
                        <p class="font-xsss fw-400 text-grey-500 lh-30 pe-5 mt-3 me-5">{{ product.description }}</p>
                        <h6 class="display2-size fw-700 text-current ls-2 mb-2" id="product-price"
                            data-base-price="{% if not product.discount_price %}{{ product.price }}{% else %}{{ product.discount_price }}{% endif %}">
                            {% if product.discount_price %}
                                <span id="display-price" class="font-xl">${{product.discount_price|intcomma}}</span>
                                <span class="font-xs text-grey-500" style="text-decoration: line-through;">${{product.price|intcomma}}</span>
                            {% else %}
                                <span id="display-price" class="font-xl">${{product.price|intcomma}}</span>
                            {% endif %}
                        </h6>
                        <div class="clearfix"></div>

                        <form method='POST' action="{% url 'c-b' product.category.slug product.slug product.pk %}" class="form--action mt-4"  id="variationForm">
                            {% csrf_token %}

                            {% if varform.color %}
                                <h5>{% trans 'Colors' %}:</h5>
                                <div class="variation-group" data-variation-prices="{{ varform.color_prices|jsonify }}">
                                    {% for radio in varform.color %}
                                        <div class="form-check">
                                            {{ radio.tag }}
                                            <label class="form-check-label" for="{{ radio.id_for_label }}">
                                                {{ radio.choice_label }}
                                            </label>
                                        </div>
                                    {% endfor %}
                                </div><br>
                            {% endif %}

                            {% if varform.size %}
                                <h5>{% trans 'Sizes' %}:</h5>
                                <div class="variation-group" data-variation-prices="{{ varform.size_prices|jsonify }}">
                                    {% for radio in varform.size %}
                                        <div class="form-check">
                                            {{ radio.tag }}
                                            <label class="form-check-label" for="{{ radio.id_for_label }}">
                                                {{ radio.choice_label }}
                                            </label>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            <br>

                            <p class="text-danger" id="id_p"></p>
                            
                            {% if product.stock == 0 %}
                                <a href="{% url 'add' product.category.slug product.slug product.pk %}" id="WishLink" class="add-to-cart bg-dark text-white fw-700 ps-lg-5 pe-lg-5 text-uppercase font-xssss float-left border-dark border rounded-3 border-size-md d-inline-block mt-0 p-3 text-center ls-3">Add to Wishlist</a>
                            {% else %}
                                <button id='add_to_cart' name='action' value='add_to_cart' class="add-to-cart bg-dark text-white fw-700 ps-lg-5 pe-lg-5 text-uppercase font-xssss float-left border-dark border rounded-3 border-size-md d-inline-block mt-0 p-3 text-center ls-3">
                                    {% trans 'Add to cart' %}
                                </button>
                                
                                <a href="{% url 'add' product.category.slug product.slug product.pk %}" id="WishLink" class="btn-round-xl alert-dark text-white d-inline-block mt-0 ms-4 float-left"><i class="ti-heart font-sm"></i></a>
                            {% endif %}

                            <div class="d-inline-flex mt-2">
                                <a class="text-dark px-2" style='text-decoration: none;' href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" target="_blank">
                                    <i class="ti-facebook"></i>
                                </a>

                                <button class='btn ' onclick="copyToClipboard('{{ request.build_absolute_uri }}')">
                                    <i class="ti-link"></i>
                                </button>
                            </div>

                            <br><br>
                            {% if product.stock >= 1 %}
                                <button name='action' value="buy_now" class="add-to-cart bg-dark text-white fw-700 ps-lg-5 pe-lg-5 text-uppercase font-xssss float-left border-dark border rounded-3 border-size-md d-inline-block mt-0 p-3 text-center ls-3">
                                    {% trans 'Buy Now' %}
                                </button>
                            {% endif %}

                        </form>
                    </div>

                    <div class="clearfix"></div>
                        <ul class="product-feature-list mt-5">
                            <li class="w-50 lh-32 font-xsss text-grey-500 fw-500 float-left"><b class="text-grey-900"> {% trans 'Category' %} : </b>{{ product.category }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="nav nav-tabs mb-4">
            <p>{% trans 'Reviews' %} {{ product.products.all.count }}</p>
        </div>

        <div class="tab-content">
            <div class="tab-pane fade show active" id="tab-pane-1">
                <h3 class="mb-3">{% trans 'Product Description' %}</h3>
                <p> <b>{{ product.description }}</b></p>
            </div><br>

            <div class="tab-pane fade show active" id="tab-pane-3">
                <div class="row">
                    <h4 class="mb-4">{{ product.products.all.count }} review for "{{ product.name }}"</h4>
                    {% if product.products.all %}
                        {% for i in product.products.all %}
                            <div class="col-md-6">
                                <div class="media mb-4">
                                    <div class="media-body">
                                        <h6>{{ i.user }}<small> - <i>{{ i.updated_at|timesince }}</i></small></h6>
                                        <div class="text-primary mb-2">
                                            {% for stars in '12345' %}
                                                {% if i.rating >= forloop.counter %}
                                                    <img src="{% static 'images/star.png' %}" alt="star" class="w15">
                                                {% else %}
                                                    <img src="{% static 'images/star-disable.png' %}" alt="star" class="w15">
                                                {% endif %}
                                            {% endfor %}

                                        </div>
                                        <p>{{ i.review }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}

                    <div class="col-md-6">
                        <h4 class="mb-4">{% trans 'Leave a review' %}</h4>
                        <form method='POST' action='{{ product.review_url }}'>
                            {% csrf_token %}
                            <div class="d-flex my-3">
                                <p class="mb-0 mr-2">{% trans 'Your Rating' %} * :</p>
                                <fieldset class="rating">
                                    <input type="radio" id="star5" name="rating" value="5" />
                                    <label for="star5" title="Awesome - 5 stars"></label>
                                    <input type="radio" id="star4" name="rating" value="4" />
                                    <label for="star4" title="Pretty good - 4 stars"></label>
                                    <input type="radio" id="star3" name="rating" value="3" />
                                    <label for="star3" title="Meh - 3 stars"></label>
                                    <input type="radio" id="star2" name="rating" value="2" />
                                    <label for="star2" title="Kinda bad - 2 stars"></label>
                                    <input type="radio" id="star1" name="rating" value="1" />
                                    <label for="star1" title="Sucks big time - 1 star"></label>
                                </fieldset>
                            </div>

                            <div class="form-group">
                                <label for="review">{% trans 'Your Review' %}</label>
                                <textarea id="review" cols="30" rows="5" name='review' class="form-control"></textarea>
                            </div>

                            <div class="form-group mb-0">
                                {% if orderitem %}
                                    <button type="submit" class="btn btn-primary px-3">Leave Your Review</button>
                                {% else %}
                                    <p class="text-primary px-3">{% trans 'You Must Buy This Product' %}.</p>
                                {% endif %}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock body %}

{% block script %}
    <script src="https://gijsroge.github.io/owl-carousel2-thumbs/assets/OwlCarousel2Thumbs.min.js"></script>

    <script>
        $(document).ready(function(){
        var owl = $('.product-slider-3');
            owl.owlCarousel({
                autoplay: false,
                autoplayTimeout: 4000,
                loop: true,
                items: 1,
                center: true,
                nav: true,
                thumbs: true,
                thumbImage: false,
                thumbsPrerendered: true,
                thumbContainerClass: 'owl-thumbs',
                thumbItemClass: 'owl-thumb-item',
                navText: ["<i class='ti-angle-left icon-nav'></i>","<i class='ti-angle-right icon-nav'></i>"],
            });
        });
    </script>

    <script>
        const variationForm = document.getElementById('variationForm');
        const errorMessage = document.getElementById('id_p');
        
        if (variationForm) {
            variationForm.onsubmit = function(e) {
                
                const colorRadios = variationForm.querySelectorAll('input[name="color"]');
                const sizeRadios = variationForm.querySelectorAll('input[name="size"]');
                
                let hasColorVariation = colorRadios.length > 0;
                let hasSizeVariation = sizeRadios.length > 0;
                
                let colorSelected = false;
                let sizeSelected = false;
                
                if (hasColorVariation) {
                    colorSelected = Array.from(colorRadios).some(radio => radio.checked);
                    if (!colorSelected) {
                        errorMessage.innerHTML = 'Please select a color';
                        e.preventDefault();
                    }
                }
                
                if (hasSizeVariation) {
                    sizeSelected = Array.from(sizeRadios).some(radio => radio.checked);
                    if (!sizeSelected) {
                        errorMessage.innerHTML = 'Please select a size';
                        e.preventDefault();
                    }
                }

            });
        }
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const basePrice = parseFloat(document.getElementById("product-price").dataset.basePrice) || 0;
            const priceDisplay = document.getElementById("display-price");
            const variationGroups = document.querySelectorAll(".variation-group");

            function formatPrice(price) {
                return `$${price.toFixed(2)}`;
            }

            function updatePrice() {
                let totalPrice = basePrice;

                variationGroups.forEach(group => {
                    const prices = JSON.parse(group.dataset.variationPrices || '{}');
                    const checkedRadio = group.querySelector('input[type="radio"]:checked');

                    if (checkedRadio) {
                        const variationPrice = prices[checkedRadio.value] || 0;
                        totalPrice += variationPrice;
                    }
                });

                priceDisplay.textContent = formatPrice(totalPrice);
            }

            variationGroups.forEach(group => {
                const radios = group.querySelectorAll('input[type="radio"]');
                radios.forEach(radio => {
                    radio.addEventListener("change", updatePrice);
                });
            });

            updatePrice();
        });

        function copyToClipboard(text) {
            navigator.clipboard.writeText(text).then(() => {
                alert("Link copied to clipboard!");
            }).catch(err => {
                console.error('Failed to copy: ', err);
            });
        }

        $(document).ready(function(){
            var owl = $('.product-slider-3');
                owl.owlCarousel({
                    autoplay: true,
                    autoplayTimeout: 3000,
                    loop: true,
                    items: 1,
                    center: true,
                    nav: true,
                    thumbs: true,
                    thumbImage: false,
                    thumbsPrerendered: true,
                    thumbContainerClass: 'owl-thumbs',
                    thumbItemClass: 'owl-thumb-item',
                    navText: ["<i class='ti-angle-left icon-nav'></i>","<i class='ti-angle-right icon-nav'></i>"],
                });
        });

    </script>
{% endblock script %}
