{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load query_string %}
{% load humanize %}

{% block title %}
Sociala/Shop
{% endblock title %}

{% block body %}

    <div class="container bg-white" style='margin-top:60px'>
        <div class="row">
            <div class="col-xl-12">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card p-md-5 p-4 bg-primary-gradiant rounded-3 shadow-xss bg-pattern border-0 overflow-hidden">
                            <div class="bg-pattern-div"></div>
                            <h2 class="display2-size display2-md-size fw-700 text-white mb-0 mt-0">{% trans 'Shop' %} <span class="fw-700 ls-3 text-grey-200 font-xsssss mt-2 d-block">{{ page_obj|length }} {% trans 'PRODUCTS FOUND' %}</span></h2>
                        </div>
                    </div>

                    <div class="col-lg-12 mt-4">
                        <div class="card w-100 p-4 border-0 bg-lightblue">
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="form-group mb-0">
                                        <label for="Search" class="fw-600 text-grey-900 font-xsss">{% trans 'Categories' %}</label>
                                    </div>
                                    <form method='GET' id='FilterForm'>

                                    {% if request.GET.query %}
                                        <input type="hidden" name="query" value="{{ request.GET.query }}">
                                    {% endif %}
                                        <ul>
                                            {% for cat in categories %}
                                                <li>
                                                    <input type="checkbox" onclick="this.form.submit()" {% if cat.name in selected_categories %} checked {% endif %} value='{{cat.name}}' name="category_" id="cat-{{cat.id}} ">
                                                    <label for="{{cat.id}} " class="custom-control-label small-size fw-600 text-grey-800 font-xssss">{{cat.name}} </label> <span class="float-right fw-600 text-grey-600 font-xssss mt-1"> {{cat.categories.count}}</span>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                </div>
                                <div class="col-lg-3 pe-4">
                                    <div class="form-group mb-0">
                                        <label for="Search" class="fw-600 text-grey-900 font-xsss">{% trans 'Brand Name' %}</label>
                                    </div>
                                    <ul class="list-inline">
                                        {% for brand in brands %}
                                            <li class="me-0">
                                                <input type="checkbox" name="brand_" id="{{brand.id}}" value='{{brand.name}}' onclick="this.form.submit()" {% if brand.name in selected_brands %} checked {% endif %}>
                                                <label for="{{brand.id}} " class="custom-control-label small-size fw-600 text-grey-800 font-xssss">{{brand.name}} </label> <span class="float-right fw-600 text-grey-600 font-xssss mt-1"> {{brand.brands.count}}</span>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="col-lg-3">
                                    {% if size_variations %}
                                        <div class="form-group mb-0">
                                            <label for="Search" class="fw-600 text-grey-900 font-xsss">{% trans 'Sizes' %}</label>
                                        </div>

                                        <ul class="list-inline">
                                            {% for size in size_variations %}
                                                <li class="me-0">
                                                    <input onclick='this.form.submit()' {% if size in selected_size %} checked {% endif %} type="checkbox" name="size_" id="size-{{size}}" value='{{ size }}'>
                                                    <label class="custom-control-label small-size fw-600 text-grey-800 font-xssss" for="size-{{size}}">{{size}} </label>
                                                </li>
                                            {% endfor %}
                                        </ul> 
                                    {% endif %}

                                    {% if color_variations %}
                                        <div class="form-group mb-0 mt-4">
                                            <label for="Search" class="fw-600 text-grey-900 font-xsss">{% trans 'Colors' %}</label>
                                        </div>
                                        <ul class="list-inline mt-2">
                                            {% for color in color_variations %}
                                                <li class="list-inline-item me-0"><a href="{% url 'color_slug' color %}" class="btn-round-sm" style="background-color: {{color}}"></a></li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group mb-0 mt-0">
                                        <label for="Search" class="fw-600 text-grey-900 font-xsss">{% trans 'Price' %}</label>
                                    </div>
                                    <div class="form-group mt-3 mb-0">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                    <input type="number" class='form-control' id='min_price' value="{{ request.GET.min_price }}" name="min_price" step='0.1' min='1' placeholder='Min'>
                                                    <input type="number" class='form-control mt-2' id='max_price' value="{{ request.GET.max_price }}" name="max_price" step='0.1' min='1' placeholder='Max'>
                                                    <input type="submit" value="Submit" class='btn btn-success w-100 mt-2'>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>  
                            </div>  
                        </div>
                    </div>

                    <div class="row" style='margin-left:82%'>
                        <div class="col-2">
                            <form>
                                <select name="sort_by" onchange="this.form.submit()" class='form-control mt-2'>
                                    <option value="date-descending" {% if sort_by == 'date-descending' %} selected {% else %} {% endif %}>Date: {% trans 'New To Old' %}</option>
                                    <option value="date-ascending" {% if sort_by == 'date-ascending' %} selected {% else %} {% endif %}>Date: {% trans 'Old To New' %}</option>
                                    <option value="price-descending" {% if sort_by == 'price-descending' %} selected {% else %} {% endif %}>Price: {% trans 'High &gt; Low' %}</option>
                                    <option value="price-ascending" {% if sort_by == 'price-ascending' %} selected {% else %} {% endif %}>Price: {% trans 'Low &gt; High' %}</option>
                                </select>
                            </form>
                        </div>
                    </div>

                    {% for i in page_obj %}
                        <div class="col-lg-4 col-md-6">
                            <div class="card w-100 border-0 mt-4">
                                <div class="card-image w-100 p-0 text-center bg-greylight rounded-3 mb-2">
                                    <a href="{{ i.get_absolute_url }}"><img src="{{ i.img.url }}" alt="product-image" class="w-100 mt-0 mb-0 p-5"></a>
                                </div>
                                <div class="card-body w-100 p-0 text-center">
                                    <h2 class="mt-2 mb-1"><a href="{{ i.get_absolute_url }}" class="text-black fw-700 font-xsss lh-26">{{ i.name }}</a></h2>
                                    {% if i.discount_percentage %}
                                        <h6 class="font-xsss fw-600 text-grey-500 ls-2">${{i.discount_price|intcomma}}</h6>
                                        <h6 class="font-xsss fw-600 text-danger ls-2">{{i.discount_percentage}}</h6>
                                    {% else %}
                                        <h6 class="font-xsss fw-600 text-grey-500 ls-2">${{i.price|intcomma}}</h6>
                                    {% endif %}
                                </div>                                
                            </div>
                        </div>
                    {% endfor %}

                    {% if page_obj.has_other_pages %}
                        <div class="col-12 mb-5">
                            <nav>
                                <ul class="pagination justify-content-center">

                                {% if page_obj.has_previous %}
                                    <li><a href="?{% query_string request page=page_obj.previous_page_number %}"><span class="ti-angle-left"></span></span></a></li>
                                {% endif %} 
                                
                                {% for i in custom_page_range %}
                                    <li style='text-decoration: {% if i >= page_obj.number %} none {% else %} line-through {% endif %}' class="page-item me-3 ms-3"><a href="?{% query_string request page=i %}">{{i}}</a></li>
                                {% endfor %}
                                
                                {% if group_end < total_pages %}
                                    <li><span>...</span></li>
                                    <li class='ms-3'><a href="?{% query_string request page=total_pages %}">{{total_pages}}</a></li>
                                {% endif %}

                                {% if page_obj.has_next %}
                                    <li><a href="?{% query_string request page=page_obj.next_page_number %}"><span class="ti-angle-right"></span></a></li>
                                {% endif %}
                                </ul>
                            </nav>
                        </div>
                    {% endif %}
                </div>
            </div>               
        </div>
    </div>

{% endblock body %}
