{% extends "base.html" %}
{% load humanize %}
{% load i18n %}
{% load static %}
{% block title %}
Sociala/Order Detail
{% endblock title %}
{% block body %}

    <div class="container bg-white" style='margin-top:60px'>
        <div class="row">
            <div class="col-xl-12 cart-wrapper">
                <div class="row mb-4">
                    <div class="col-lg-12">
                        <div class="card p-md-5 p-4 bg-primary-gradiant rounded-3 shadow-xss bg-pattern border-0 overflow-hidden">
                            <div class="bg-pattern-div"></div>
                            <h5 class="display2-size display2-md-size fw-700 text-white mb-0 mt-5">Order - {{ order.order_number }}</h5>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-8 mb-3">
                        <div class="table-content table-responsive">
                            <table class="table text-center">
                                <thead class="bg-greyblue rounded-3">
                                    <tr>
                                        <th class="border-0 p-4">&nbsp;</th>
                                        <th class="border-0 p-4 text-left">{% trans 'Product' %}</th>
                                        <th class="border-0 p-4">{% trans 'Color' %}</th>
                                        <th class="border-0 p-4">{% trans 'Size' %}</th>
                                        <th class="border-0 p-4">{% trans 'Unit Price' %}</th>
                                        <th class="border-0 p-4">{% trans 'Quantity' %}</th>
                                        <th class="border-0 p-4">{% trans 'Total' %}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in order_items %}
                                    <tr>
                                        <td class="product-thumbnail text-left ps-0">
                                            <img src="{{ i.product.img.url }}" alt="Product Thumnail" class="w75 rounded-3">
                                        </td>
                                        <td class="product-headline text-left wide-column">
                                            <h3>
                                                <a href="{{ i.product.get_absolute_url }}" class="text-grey-900 fw-600 font-xsss">{{ i.product.name }}</a>
                                            </h3>
                                        </td>
                                        <td class="product-headline text-left wide-column">
                                            {% if i.color %}
                                                <p>
                                                    <a href="{% url 'color_slug' i.color.value %}" class="btn-round-sm" style="background-color: {{i.color.value}}"></a> {% if i.color.price %} +${{i.color.price|intcomma}}{% endif %}
                                                </p>
                                            {% endif %}
                                        </td>
                                        <td class="product-headline text-left wide-column">
                                            {% if i.size %}
                                                <h3>
                                                    <a href="/shop/?size_={{i.size.value}}" class="text-grey-900 fw-600 font-xsss">{{ i.size.value }}</a> {% if i.size.price %} +${{i.size.price|intcomma}}{% endif %}
                                                </h3>
                                            {% endif %}
                                        </td>

                                        <td class="product-p">
                                            <span class="product-price-wrapper">
                                                <span class="money text-grey-500 fw-600 font-xsss"><span class="font-xsssss">$</span> {{ i.get_product_price|intcomma }}</span>
                                            </span>
                                        </td>
                                        <td class="product-quantity">
                                            <p>{{ i.quantity }}x</p>
                                        </td>
                                        <td class="product-total-price">
                                            <span class="product-price-wrapper">
                                                <span class="money fmont"><strong><span class="font-xsssss">$ </span>{{ order.total|intcomma }}</strong></span>
                                            </span>
                                        </td>
                                        {% empty %}
                                        <td colspan='5'>{% trans "You Don't Have Products Yet" %}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="checkout-payment card border-0 mb-3 bg-greyblue p-4">
                            <div class="cart-totals">
                                <h4 class="mont-font fw-600 font-md mb-5">{% trans 'ORDER DETAILS' %}</h4>
                                <div class="table-content table-responsive">
                                    <table class="table order-table">
                                        <tbody>
                                            <tr>
                                                <td class="font-xsss pt-2 fw-600">{% trans 'Address' %}</td>
                                                <td class="font-xssss fw-700 text-grey-600 pt-2 text-right">{{ order.shipping_address.full_address }}</td>  
                                            </tr>

                                            <tr class="order-total">
                                                <td class="font-xsss pt-2 fw-600">{% trans 'Total' %}</td>
                                                <td class="font-xssss fw-700 text-grey-600 pt-2 text-right">
                                                    <span class="product-price-wrapper">
                                                        <span class="money fmont">${{ order.total|intcomma }}</span>
                                                    </span>
                                                </td>
                                            </tr>
                                            {% if order.is_ordered %}
                                                <tr class="order-total">
                                                    <td class="font-xsss pt-2 fw-600">{% trans 'Payment Method' %}</td>
                                                    <td class="font-xssss fw-700 text-grey-600 pt-2 text-right">
                                                        <span class="product-price-wrapper">
                                                            <span class="money fmont text-success">{{ order.payment.method }}</span>
                                                        </span>
                                                    </td>
                                                </tr>
                                            {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        {% if order.status == 'Uncomplete' %}
                            <div class="checkout-payment card border-0 mb-3 bg-greyblue p-lg-4 p-4">
                                <form method="POST" action="{% url 'uncomplete-orders' order.order_number %}" id="UnCompleteOrdersForm">
                                    {% csrf_token %}
                                    {% for value, name in form.fields.payment_option.choices %}
                                        <div class="payment-group mb-0">
                                            <div class="payment-radio">
                                                <input type="radio" value="{{value}}" name="payment_option" required id="{{name}}">
                                                <label class="payment-label fw-600 font-xsss text-grey-900" for="{{name}}">{{ name }}</label>
                                            </div>
                                        </div>
                                    {% endfor %}
                                    <p class="text-danger text-center mt-3" id="id_p"></p>
                                    <button type="submit" class="btn w-100 p-3 font-xsss text-center text-white bg-current rounded-3 fw-600 ls-3">{% trans 'Complete Order' %}</button> 
                                    <a href='{% url "order-canceled" order.order_number %}' class="btn w-100 p-3 mt-3 font-xsss text-center text-white bg-danger rounded-3 fw-600 ls-3">{% trans 'Cancel Order' %}</a>   
                                </form>
                            </div>
                        {% elif 'Paid' or 'Delivered'  in order.status and order.payment.method == 'Stripe'  %}
                            <form action="{% url 'request-refund' order.order_number  %}" method="POST">
                                {% csrf_token %}
                                <div class="checkout-payment card border-0 mb-3 bg-greyblue p-lg-4 p-4">
                                    <button type="submit" class="btn w-100 p-3 mt-3 font-xsss text-center text-white bg-current rounded-3 fw-600 ls-3">{% trans 'Request a Refund' %}</button>
                                </div>
                            </form>
                        {% elif order.status == 'Refunded' or order.status == 'Refund Requested' %}
                            <div class="checkout-payment card border-0 mb-3 bg-greyblue p-lg-4 p-4">
                                <h3 class="w-100 p-3 mt-3 font-xsss text-center text-white bg-secondary rounded-3 fw-600 ls-3">{{order.status}}</h3>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>               
        </div>
    </div>

{% endblock %}
