{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}
Sociala/Refund
{% endblock title %}

{% block body %}
        
    <div style='margin-top: 70px' class="container theme-dark-bg">
        
        <div class="middle-sidebar-bottom">
            <div class="middle-sidebar-left">
                <div class="middle-wrap">
                    <div class="card w-100 border-0 bg-white shadow-xs p-0 mb-4">
                        <div class="card-body p-4 w-100 bg-current border-0 d-flex rounded-3">
                            <a href="{% url 'order-detail' order.order_number %}" class="d-inline-block mt-2"><i class="ti-arrow-left font-sm text-white"></i></a>
                            <h4 class="font-xs text-white fw-600 ms-4 mb-0 mt-2"> {% trans 'Refund' %}</h4>
                        </div>
                        <div class="card-body p-lg-5 p-4 w-100 border-0 mb-0">
                            <form method="POST" enctype='multipart/form-data' id='RefundForm'>
                                {% csrf_token %}
                                <h5 class='text-center'>{% trans 'Are you sure you want to Refund this order' %}?</h5><br>
                                <p>{% trans 'Order Number' %}: <span class='text-warning mr-2' id="orderId">{{order.order_number}}</span> <button type='button' id="Copy_Btn" class="btn ti-clipboard"></button></p>
                                <div class="form-group">
                                    {{form}}
                                </div>
                                <p class="text-danger mb-2" style="color: red; display: none;" id="id_p">{% trans 'All Fields are Required' %}.</p>
                                <div id="validationMessage" class='mb-2' style="color: red; display: none;">{% trans 'Order Number does not match' %}.</div>
                                <a href="{% url 'order-detail' order.order_number %}" class="btn btn-secondary">{% trans 'Cancel' %}</a>
                                <button type="submit" class="btn btn-primary">{% trans 'Request' %}</button>
                            </form>
                        </div>
                    </div>
                    <!-- <div class="card w-100 border-0 p-2"></div> -->
                </div>
            </div>
                
        </div>            
    </div>

{% endblock %}

{% block script %}
    <script>
        let CopyBtn = document.getElementById('Copy_Btn');
        let orderId = document.getElementById('orderId').innerText;

        CopyBtn.addEventListener('click', () => {
        navigator.clipboard.writeText(orderId).then(() => {

        }).catch(err => {
            alert('Failed to copy: ', err);
        });
        });

        let refundform = document.getElementById("RefundForm");
        let order_numberfield = document.querySelector("[name='order_number']");
        let actualOrderID = '{{ order.order_number }}';
        let reasonfield = document.getElementById("id_reason");
        let imagefield = document.getElementById("id_image");
        let emailField = document.getElementById("id_email");
        console.log('yes')
        refundform.onsubmit = function(e) {
            if (order_numberfield.value === '' || reasonfield.value === '' || imagefield.value === '' || emailField.value === '') {
                document.getElementById("id_p").style.display = 'block';
                e.preventDefault();

            }if (order_numberfield.value !== actualOrderID) {
                console.log('not matching')
                document.getElementById("validationMessage").style.display = 'block';
                e.preventDefault();

            }
        };
    </script>
{% endblock script %}