{% load static %}
<div class="nav-header bg-white shadow-xs border-0">
    <div class="nav-top">
        <a href="{% url 'store' %}"><i class="feather-zap text-success display1-size me-2 ms-0"></i><span class="d-inline-block fredoka-font ls-3 fw-600 text-current font-xxl logo-text mb-0">Sociala. </span> </a>
    </div>
    
    <form action="{% url 'shop' %}" class="float-left header-search">
        <div class="form-group mb-0 icon-input">
            <i class="feather-search font-sm text-grey-400"></i>
            <input type="search" name='s' placeholder="Start typing to search.." class="bg-grey border-0 lh-32 pt-2 pb-2 ps-5 pe-3 font-xssss fw-500 rounded-xl w350 theme-dark-bg">
        </div>
    </form>

    <a href="{% url 'store' %}" class="p-2 text-center ms-3 menu-icon center-menu-icon"><i class="feather-home font-lg {% if 'store' in request.path %} alert-primary text-current {% else %} bg-greylight text-grey-500 {% endif %} btn-round-lg theme-dark-bg "></i></a>
    <a href="{% url 'shop' %}" class="p-2 text-center ms-0 menu-icon center-menu-icon"><i class="feather-shopping-bag font-lg t btn-round-lg theme-dark-bg  {% if 'shop' in request.path %} alert-primary text-current {% else %} bg-greylight text-grey-500 {% endif %}"></i></a>
    
    <a href="{% url 'wish-summary' %}" style='margin-left: 250px'>
        <i class="feather-heart d-inline-block font-xl {% if 'wishlist' in request.path %} text-current {% else %} text-grey-500 {% endif %}"></i>
    </a>
    <h4 class='mt-2 ms-1'>{{ WishCount }}</h4>

    <a href="{% url 'cart-summary' %}">
        <i class="feather-shopping-cart ms-4 d-inline-block font-xl {% if 'cart' in request.path %} text-current {% else %} text-grey-500 {% endif %}"></i>
    </a>
    <h4 class='mt-2 ms-1'>{{ CartCount }}</h4>
    
    
    {% if request.user.is_authenticated %}
        <a href="{% url 'settings' %}" style='margin-left: 130px'>
            <i class="feather-settings d-inline-block font-xl {% if 'accounts' in request.path %} text-current {% else %} text-grey-500 {% endif %}"></i>
        </a>
    {% else %}
        <div class="d-flex" style='margin-left:70px'>
            <a href="{% url 'account_login' %}"><h4 class='d-inline-block text-grey-500'>Login / </h4></a>
            <a href="{% url 'account_signup' %}"><h4 class='ms-1 d-inline-block text-grey-500'> Register</h4></a>
        </div>
    {% endif %}
    
</div>